html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: $fonts-Montserrat;
	font-style: normal;
	color: $color-black;
}

.container {
	max-width: 1232px;
	padding: 0 16px;
	margin: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
}

.main {
	margin-top: clamp(2rem, 1.712rem + 1.23vw, 2.5rem);
	flex: 1 1 auto;
}

.footer {
}
