$fonts-GolosText: GolosText;
$fonts-Montserrat: Montserrat;
$fonts-Unbounded: Unbounded;


$color-violet: #522583;
$color-black: #1F1F1F;
$color-white: #FFFFFF;
$color-gray: #BFBFBF;


$initialTransform: scale(1);
$hoverTransform: scale(1.1);

$media-laptop: 1025px;
$media-tablet: 768px;